@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TMS</h1>
    <h2 class="display-4">Ticket Management System</h2>
    <br>
    <br>
    <h3><a href="/Tickets">Lista de Tickets</a></h3>
    <br>
    <br>
</div>